<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" mode="ios">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-grid>
    <ion-row>
      <ion-col>
        <div align="center">
          <ion-img [src]="'./assets/icon/ezcomm-icon.png'">
          </ion-img>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div align="center">
          Version:&nbsp;{{versionNumber}}
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
