<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-segment [(ngModel)]="type" (ionChange)="segmentChanged($event)" value="pending">
    <ion-segment-button value="pending">
      <ion-label>Pending
        <ion-badge slot="end">22</ion-badge>
      </ion-label>
    </ion-segment-button>
    <ion-segment-button value="completed">
      <ion-label>Completed
        <ion-badge color="success" slot="end">22</ion-badge>
      </ion-label>
    </ion-segment-button>
    <ion-segment-button value="cancelled">
      <ion-label>Cancelled
        <ion-badge color="danger" slot="end">22</ion-badge>
      </ion-label>
    </ion-segment-button>
  </ion-segment>

  <div [ngSwitch]="type">
    <ion-list *ngSwitchCase="'pending'">
      <ion-item *ngFor="let order of pending_order">
        <ion-thumbnail slot="start" [routerLink]="['/addorder', { mode: 2, id: order.order_id }]">
          <img [src]="order.item_img">
        </ion-thumbnail>
        <div style="flex-direction: columm; width: 50%;" [routerLink]="['/addorder', { mode: 2, id: order.order_id }]">
          <h6>Item: {{order.item_name}}</h6>
          <span>Cus: {{order.cus_name}} <br/>Tel: {{order.cus_tel}}</span>
        </div>
        <div style="flex-direction: columm; width: 50%;" [routerLink]="['/addorder', { mode: 2, id: order.order_id }]">
          <h6>Qty: {{order.qty}}</h6>
          <span>Amount: {{order.amount}}</span>
        </div>
        <ion-buttons slot="end">
          <ion-button (click)="cancelOrder(order.order_id)"><ion-icon name="trash"></ion-icon></ion-button>
        </ion-buttons>
      </ion-item>
    </ion-list>

    <ion-list *ngSwitchCase="'completed'">
      <ion-item *ngFor="let order of complete_order">
        <ion-thumbnail slot="start" [routerLink]="['/addorder', { mode: 2, id: order.order_id }]">
          <img [src]="order.item_img">
        </ion-thumbnail>
        <div style="flex-direction: columm; width: 50%;" [routerLink]="['/addorder', { mode: 2, id: order.order_id }]">
          <h6>Item: {{order.item_name}}</h6>
          <span>Cus: {{order.cus_name}} <br/>Tel: {{order.cus_tel}}</span>
        </div>
        <div style="flex-direction: columm; width: 50%;" [routerLink]="['/addorder', { mode: 2, id: order.order_id }]">
          <h6>Qty: {{order.qty}}</h6>
          <span>Amount: {{order.amount}} <br/>Shipping No.: {{order.shipping_no}}</span>
        </div>
      </ion-item>
    </ion-list>

    <ion-list *ngSwitchCase="'cancelled'">
      <ion-item *ngFor="let order of cancel_order">
        <ion-thumbnail slot="start" [routerLink]="['/addorder', { mode: 4, id: order.order_id }]">
          <img [src]="order.item_img">
        </ion-thumbnail>
        <div style="flex-direction: columm; width: 50%;" [routerLink]="['/addorder', { mode: 4, id: order.order_id }]">
          <h6>Item: {{order.item_name}}</h6>
          <span>Cus: {{order.cus_name}} <br/>Tel: {{order.cus_tel}}</span>
        </div>
        <div style="flex-direction: columm; width: 50%;" [routerLink]="['/addorder', { mode: 4, id: order.order_id }]">
          <span>Qty: {{order.qty}} <br/>Amount: {{order.amount}}</span>
        </div>
        <ion-buttons slot="end">
          <ion-button (click)="undoOrder(order.order_id)"><ion-icon name="arrow-undo"></ion-icon></ion-button>
        </ion-buttons>
      </ion-item>
    </ion-list>
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addOrder()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
