ion-img {
    border-radius: 20px !important;
    overflow: hidden;
    width: 120px;
    height: 120px;
    min-width: 80px !important;
    max-width: 80px !important;
    max-width: 120px !important;
    max-height: 120px !important;
    margin: 5px auto;
    box-shadow: 1px 1px 3px 3px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 1px 1px 3px 3px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 1px 1px 3px 3px rgba(0, 0, 0, 0.2);
}

.input-border {
    ion-textarea {
        border: rgb(212, 212, 212) 2px solid;
        border-radius: 15px;
        padding-left: 15px;
        padding-right: 15px;
    }
    
    ion-label {
        font-size: 20px;
    }

    div {
        font-size: 12px;
    }
}

.input-border:hover {
    ion-textarea {
        border-color: rgb(73, 73, 73);
    }
}

.img_container:hover {
    ion-textarea {
        border-color: rgb(73, 73, 73);
    }
}